* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(./wechat-bg.png) repeat-x;
}

li {
  /* float: left; */
  margin: 15px auto;
}

.nav a {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  padding-left: 15px;
  background: url(./up) no-repeat;
}

.nav a span {
  display: inline-block;
  height: 33px;
  padding-right: 15px;
  background: url(./up) no-repeat right;
  color: white;
}

/* hover后换图片 */
.nav a:hover,
.nav a:hover span {
  background: url(./down)
}
